<div class="containerg">
  <div>
    <div class="nav">
      <div style="display: flex;justify-content: center;align-items: center;padding: 10px 20px;">
        <img src="assets/ublacklima.png" style="width: 40px;">
        <label style="font-weight: bold; font-size: 18px;">
          Sistema de Asistencia Organizacional
        </label>
      </div>
      <div style="display: flex; align-items: center; margin-right: 20px;">

        <div style="width: 40px; height: 40px; border-radius: 50%; overflow: hidden; margin-right: 5px;">
          @if (imagenBase64) {
          <img [src]="imagenBase64" style="width: 100%; height: 100%; object-fit: cover;">

          }@else{
          <img src="assets/avatar.jpg" style="width: 100%; height: 100%; object-fit: cover;">

          }
        </div>
        <span>{{nombreUsuario}}</span>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="cerrarSesion()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Cerrar Sesión</span>
          </button>

        </mat-menu>
        <!-- <button mat-button [matMenuTriggerFor]="menu1" style="color: white;">{{nombreUsuario}}</button>
        <mat-menu #menu1="matMenu">
          <button mat-menu-item>Cerrar Sesión</button>

        </mat-menu> -->
      </div>


    </div>
    <div class="botones">
      @if (administrar) {
      <button mat-button [matMenuTriggerFor]="menu" class="matButton">Administrador</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="crearusuario()">Administrar usuarios</button>

        <button mat-menu-item (click)="listausuario()">Listar usuarios</button>
      </mat-menu>}


      <button mat-button [matMenuTriggerFor]="menu1" class="matButton">Seguimiento usuario</button>
      <mat-menu #menu1="matMenu">
        <button mat-menu-item>Informe de asistencias</button>
        <button mat-menu-item>Ver solicitudes</button>
        <button mat-menu-item (click)="marcarAsistencia()">Marcar asistencia</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="menu2" class="matButton">Solicitudes</button>
      <mat-menu #menu2="matMenu">
        <button mat-menu-item>Solicitar vacaciones</button>
        <button mat-menu-item>Solicitar cambios de horario</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="menu3" class="matButton">Monitoreo</button>
      <mat-menu #menu3="matMenu">
        <button mat-menu-item>Ver horas de trabajo</button>

      </mat-menu>
    </div>
    <div>

    </div>

  </div>
  <router-outlet></router-outlet>
  <div class="footer">
    <div class="title-footer">
      <span>Políticas de trabajo</span>
      <span>Centro Cultural</span>
    </div>
    <div class="title-footer">
      <span>Empleabilidad</span>
      <span>Facultades y carreras</span>
    </div>
    <div style="display: flex;align-items: center;">
      <img src="assets/ublacklima.png" style="width: 30px;">
      <span>UNIVERSIDAD DE LIMA</span>
    </div>


  </div>
</div>